<div class="layout-demo">

  <swift-layout-demo-header title="Swift Layout Demo"></swift-layout-demo-header>

  <swift-layout stateKey="exampleLayout" stateStorage="local" [style]="{ backgroundColor: '#999999' }"
                [gutterSize]="16" [gutterToggleSize]="65" [gutterToggleSizeClosed]="80">
    <ng-template pane="left" [size]="30" [minSize]="10" [maxSize]="45">
      <div class="pane-content-demo">Left Pane</div>
    </ng-template>

    <ng-template pane="center">
      <div class="pane-content-demo">Center Pane</div>
    </ng-template>

    <ng-template pane="bottom" [size]="20" [minSize]="10" [maxSize]="45">
      <div class="pane-content-demo">Bottom Pane</div>
    </ng-template>
  </swift-layout>

</div>
